body {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}
.slide-wrapper {
    overflow:hidden;
}

.slide {
    display: flex;
}
.slide:hover {
    will-change: transform;
}

.slide li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0px 20px;

    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0,0,0,.4);
    opacity: .8;
    transform: scale(.8);
    transition: .3s;
}

.slide li.active {
    opacity: 1;
    transform: scale(1);
}
