body {
    margin: 0px;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    display: block;
    max-width: 100%;
}
.slide-wrapper {
    overflow:hidden;
}

.slide {
    display: flex;
}

.slide li {
    flex-shrink: 0;
    width: 80vw;
    max-width: 800px;
    margin: 0px 20px;
}

